<form method="POST" action="/products/store" class="container my-4">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Brand</label>
    <input type="text" class="form-control" name="brand" />
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">New Arrival</label>
    <input type="text" class="form-control" name="newArrival" />
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Gender</label>
    <input type="text" class="form-control" name="gender" />
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Category</label>
    <input type="text" class="form-control" name="category" />
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Sale</label>
    <input type="text" class="form-control" name="sale" />
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Name</label>
    <input type="text" class="form-control" name="name" />
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Image</label>
    <input type="text" class="form-control" name="image" />
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Price</label>
    <input type="text" class="form-control" name="price" />
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Quantity</label>
    <input type="text" class="form-control" name="quantity" />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>