<div class="my-5 container">
  <form method="post" >
    <div class="mb-3">
      <label for="search_input" class="form-label">Enter keywords</label>
      <input
        type="text"
        class="form-control"
        id="search_input" name="q"
      />

    <button type="submit" class="btn btn-primary mt-3">Search</button>
  </form>
</div>